{% extends "pld.html" %}
{% block content %}
{% if session['logged_in'] %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='logomini.png') }}">
    <title>Création de colis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    ID_COLIS = request.form['ID_COLIS']
    ID_CLIENT = request.form['ID_CLIENT']
    ID_ENTREPRISE = request.form['ID_ENTREPRISE']
    POID_COLIS = request.form['POID_COLIS']
<body id=body_acc>
    <ul id=centrage>
      <form method="POST">
        <div class="form-group">
          <label for="email">ID ENTREPRISE : </label>
          <input type="text" name="ID_ENTREPRISE" class="form-control" id="ID_ENTREPRISE">
        </div>
        <div class="form-group">
          <label for="email">ID CLIENT : </label>
          <input type="text" name="ID_CLIENT" class="form-control" id="ID_CLIENT">
        </div>
        <div class="form-group">
          <label for="email"> POID COLIS: </label>
          <input type="text" name="POID_COLIS" class="form-control" id="POID_COLIS">
        </div>
        <div >
          <button type="submit" class="button">s'enregistrer</button>
        </div>
    </form>
        <script>
        funtion alertbox(){
          alert("Données du colis enregistrées.")
        }

        </script>
    </ul>
</body>
</html>

{% else %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='logomini.png') }}">
    <title>Chronopost</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"  media="screen"/>
</head>
<!-- <img src="{{ url_for('static', filename='fond_accueil_decal.jpg') }}"> -->
<body id=body_acc>
    <div id=entete>
    <div id=corps>
      <div>
        <p>Vous n'êtes pas connecté.</p>
      </div>
    </div>
  </div>
</body>
</html>
